body {
    margin: 0;
    padding: 0;
}

.div-heade-adotaPet {
    background-color: rgba(0, 0, 0, 0.832);
    margin-top: -20px;
    border-bottom: 2px solid white;
}

.titudo-adotaPet {
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-patas {
    height: 30px;
    margin-right: 10px;
}

.div-pai {
    display: flex;
}

.div-links {
    /* margin-top: -20px; */
    background-color: rgba(0, 0, 0, 0.832);
    width: 250px;
    height: 100dvh;
    border-right: 2px solid white;
}

.link {
    color: white;
    font-size: 16px;
    /* background-color: red; */
    margin: 10px 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link:hover {
    /* background-color: rgb(157, 221, 61); */
    background-color: white;
    /* background-color: #f5f5f5; */
    color: black;
    transition: 0.6s;
    margin-top: -5px;
}

.div-conteudo {
    /* background-color: rgba(0, 0, 0, 0.675); */
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color:red */
    width: 90dvw;
    /* margin-top: -20px; */
}

.tela-principal {
    /* background-color: rgba(255, 0, 0, 0.997); */
    height: 100dvh;
    margin-top: -10px;
    padding: 1px;
    display: block; 
}

.tela-principal-botao-nova-adocao {
    /* background-color: red; */
    background-color: whitesmoke;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.8s;
}

.tela-principal-botao-nova-adocao-titulo{
    /* background-color: white; */
    text-align: center;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0px;
}

.tela-principal-botao-nova-adocao-campo-01{
    margin: 5px 0px;
}

.tela-principal-botao-nova-adocao-campo-01-label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-principal-botao-nova-adocao-campo-01-input{
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-principal-botao-nova-adocao-campo-01-input:hover {
    border: 2px solid black;
}



.tela-principal-botao-nova-adocao-campo-02{
    /* background-color: aliceblue; */
    margin: 5px 0px;
}

.tela-principal-botao-nova-adocao-campo-02-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-principal-botao-nova-adocao-campo-02-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-principal-botao-nova-adocao-campo-02-input:hover {
    border: 2px solid black;
}

.tela-principal-botao-nova-adocao-salvar{
    /* background-color: red; */
    padding: 10px 0px;
    justify-content: center;
    display: flex;
    transition: 0.8s;
}

.tela-principal-botao-nova-adocao-salvar:hover {
    margin-bottom: 10px;
    transition: 0.8s;
}

.tela-principal-botao-nova-adocao-salvar-confirmar-adocao {
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    width: 125px;
    padding: 10px 10px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.8s;
}

.tela-principal-botao-nova-adocao-salvar-confirmar-adocao:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.675);
    margin-top: -10px;
    transition: 0.8s;
}






.tela-principal-primeira-linha {
    height: 50px;
    border-radius: 10px;
    transition: 0.8s;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.tela-principal-primeira-linha-div-notificacao {
    background-color: rgba(0, 0, 0, 0.675);
    margin-left: 10px;
    margin-right: 10px;

    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 10px 10px 10px;
    border-radius: 4px;
    text-align: center;
    transition: 0.8s;
}

.tela-principal-primeira-linha-div-notificacao:hover {
    background-color: whitesmoke;
    color: black;
    transition: 0.8s;
}



.tela-principal-primeira-linha-div-nova-adocao {
    background-color: rgba(0, 0, 0, 0.675);
    margin-left: 10px;
    margin-right: 10px;

    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 10px 10px 10px; 
    border-radius: 4px;
    text-align: center;
    transition: 0.8s;
}

.tela-principal-primeira-linha-div-nova-adocao:hover {
    background-color: whitesmoke;
    color: black;
    transition: 0.8s;
}


.tela-principal-segunda-linha {
    /* background-color: red; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* padding: 10px 0px 10px 10px; */
}

.tela-principal-segunda-linha-bem-vindo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    color: white;
}



.tela-principal-terceira-linha {
    /* background-color: red; */
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tela-principal-terceira-linha-valor {
    /* background-color: white; */
    background-color: #D3D3D3;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.8s;
}

.tela-principal-terceira-linha-valor:hover {
    background-color: #ffffff;
    margin-top: -5px;
    transition: 0.8s;
}

.tela-principal-terceira-linha-valor-texto {
    /* background-color: rgb(0, 255, 34); */
    padding: 35px 0px;
    text-align: center;

    font-family: monospace;
    font-size: 25px;
}

.tela-principal-terceira-linha-valor-valor {
    /* background-color: red; */
    padding: 10px 0px;
    text-align: center;

    font-family: monospace;
    font-size: 25px;
}
































.tela-animais {
    /* background-color: red; */
    height: 100dvh;
    margin-top: -10px;
    padding: 1px;
    display: none;
}

.tela-animais-primeira-linha-gerenciamento-de-animais {
    /* background-color: blue; */
    padding: 16px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.tela-animais-segunda-linha {
    /* background-color: red; */
    padding: 16px;
    display: flex;
}

.tela-animais-segunda-linha-buscador {
    /* background-color: blue; */
    padding: 2px;
    width: 300px;
    height: 30px;
}

.tela-animais-segunda-linha-buscador-input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 4px;
}

.tela-animais-segunda-linha-buscador-input:hover {
    border: 2px solid black;
}


.tela-animais-segunda-linha-filtro-select {
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    padding: 8px;
    text-align: center;
    width: 120px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.8s;
    margin: 0px 5px;
    border: none;
}


.tela-animais-segunda-linha-novo-animais {
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    padding-top: 8px;
    text-align: center;
    width: 120px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.8s;
    margin: 0px 5px;
}

.tela-animais-segunda-linha-novo-animais:hover {
    color:black;
    background-color: white;
    transition: 0.8s;
    margin-top: -10px;
    margin-bottom: 10px;
}













.tela-animais-terceira-linha {
    /* background-color: blueviolet; */
    padding: 10px;
}


.tela-animais-terceira-linha-div {
    display: flex;
    overflow-x: auto;
    /* background-color: blue; */
    margin: 10px;
    justify-content: center;
}

.tela-animais-terceira-linha-div-tabela {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.400);
    width: 90dvw;
}

.tela-animais-terceira-linha-div-tabela-titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animais-terceira-linha-div-tabela-thead {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animais-terceira-linha-div-tabela-thead-tr {

}

.tela-animais-terceira-linha-div-tabela-thead-th {
    border: 1px solid black;
    color: whitesmoke;
}

.tela-animais-terceira-linha-div-tabela-tbody {

}

.tela-animais-terceira-linha-div-tabela-tbody-tr {
    transition: 0.5s;
}

.tela-animais-terceira-linha-div-tabela-tbody-tr:hover {
    background-color: rgba(255, 255, 255, 0.697);
    height: 10px;
    transition: 0.5s;
}


.tela-animais-terceira-linha-div-tabela-tbody-tr-th {
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    color: whitesmoke;
}


.tela-animais-terceira-linha-div-tabela-tbody-tr-th-div {
    display: flex;
    justify-content: center;
}

.tela-animais-terceira-linha-div-tabela-tbody-tr-th-div-excluir {
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    width: 100px;
    border-radius: 4px;
}

.tela-animais-terceira-linha-div-tabela-tbody-tr-th-div-excluir:hover {
    background-color: black;
    color: white;
}

.tela-animais-terceira-linha-div-tabela-tbody-tr-th-div-editar {
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    width: 100px;
    border-radius: 4px;
}

.tela-animais-terceira-linha-div-tabela-tbody-tr-th-div-editar:hover {
    background-color: black;
    color: white;
}






.tela-animal-botao-novo-animal {
    background-color: whitesmoke;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.8s;
}

.tela-animal-botao-novo-animal-titulo {
    text-align: center;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0px;
}

.tela-animal-botao-novo-animal-campo-01 {
    margin: 5px 0px;
}

.tela-animal-botao-novo-animal-campo-01-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animal-botao-novo-animal-campo-01-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-novo-animal-campo-01-input:hover {
    border: 2px solid black;
}

.tela-animal-botao-novo-animal-campo-02 {
    margin: 5px 0px;
}

.tela-animal-botao-novo-animal-campo-02-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;                                                                                                          
}   

.tela-animal-botao-novo-animal-campo-02-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-novo-animal-campo-02-input:hover {
    border: 2px solid black;
}

/* TIPO DE ANIMAIS */

.tela-animal-botao-novo-animal-select {
    /* background-color: red; */
}

.tela-animal-botao-novo-animal-select-select {
    /* background-color: blue; */
    border-radius: 4px;
    width: 310px;
    height: 30px;
    border: none;
    padding: 5px;
    margin: 5px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animal-botao-novo-animal-select-select:hover {
    border: 2px solid black;
}





.tela-animal-botao-novo-animal-campo-03 {
    margin: 5px 0px;
}

.tela-animal-botao-novo-animal-campo-03-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animal-botao-novo-animal-campo-03-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-novo-animal-campo-03-input:hover {
    border: 2px solid black;
}

.tela-animal-botao-novo-animal-campo-04 {
    margin: 5px 0px;
    display: none;
}

.tela-animal-botao-novo-animal-campo-04-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;                                                                      
}

.tela-animal-botao-novo-animal-campo-04-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-novo-animal-campo-04-input:hover {
    border: 2px solid black;
}

.tela-animal-botao-novo-animal-campo-05 {
    margin: 5px 0px;
    display: none;
}

.tela-animal-botao-novo-animal-campo-05-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animal-botao-novo-animal-campo-05-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-novo-animal-campo-05-input:hover {
    border: 2px solid black;
}

.tela-animal-botao-novo-animal-salvar {
    /* background-color: red;  */
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    padding: 10px 0px;
    justify-content: center;
    display: flex;
    transition: 0.8s;
}

.tela-animal-botao-novo-animal-salvar:hover {
    margin-bottom: 10px;
    transition: 0.8s;
    background-color: white;
    color: rgba(0, 0, 0, 0.675);
}

/* Dropdaw EDITAR ANIMAL */

.tela-animal-botao-editar-animal {
    background-color: whitesmoke;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.8s;
}

.tela-animal-botao-editar-animal-titulo {
    text-align: center;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0px;
}
.tela-animal-botao-editar-animal-campo-01 {
    margin: 5px 0px;
}

.tela-animal-botao-editar-animal-campo-01-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animal-botao-editar-animal-campo-01-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-editar-animal-campo-01-input:hover {
    border: 2px solid black;
}

.tela-animal-botao-editar-animal-campo-02 {
    margin: 5px 0px;
}

.tela-animal-botao-editar-animal-campo-02-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animal-botao-editar-animal-campo-02-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-editar-animal-campo-02-input:hover {
    border: 2px solid black;
}

.tela-animal-botao-editar-animal-select-select {
    border-radius: 4px;
    width: 310px;
    height: 30px;
    border: none;
    padding: 5px;
    margin: 5px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animal-botao-editar-animal-campo-03 {
    margin: 5px 0px;
}

.tela-animal-botao-editar-animal-campo-03-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tela-animal-botao-editar-animal-campo-03-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-editar-animal-campo-03-input:hover {
    border: 2px solid black;
}

.tela-animal-botao-editar-animal-campo-04 {
    margin: 5px 0px;
    display: none;
}

.tela-animal-botao-editar-animal-campo-04-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animal-botao-editar-animal-campo-04-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-editar-animal-campo-04-input:hover {
    border: 2px solid black;
}

.tela-animal-botao-editar-animal-campo-05 {
    margin: 5px 0px;
    display: none;
}

.tela-animal-botao-editar-animal-campo-05-label {
    /* margin: 5px 0px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tela-animal-botao-editar-animal-campo-05-input {
    border-radius: 4px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
}

.tela-animal-botao-editar-animal-campo-05-input:hover {
    border: 2px solid black;
}

.tela-animal-botao-editar-animal-salvar {
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    padding: 10px 0px;
    justify-content: center;
    display: flex;
    transition: 0.8s;
}

.tela-animal-botao-editar-animal-salvar:hover {
    margin-bottom: 10px;
    transition: 0.8s;
    background-color: white;
    color: rgba(0, 0, 0, 0.675);
}


